{% extends "Playlist/base.html" %}

{% block title %}Login{% endblock %} 

{% block content %}

<h1>Login to Playlist Playlist Playlist application</h1>

{% if error %}
<h3 style="color: red;">Invalid login. Try again.</h3>
{% endif %}

<form id="login_form" method="post" action="{% url 'Playlist:login' %}">
  {% csrf_token %}
  Username: <input type="text" name="username" value="" size="50" />
  <br />
  Password: <input type="password" name="password" value="" size="50" />
  <br />

  <input type="submit" value="submit" />
</form>

<a href="{% url 'Playlist:overview' %}" style="text-align: center; font-weight: bold;">Back to the homepage</a>
{% endblock %}
