{% extends "Playlist/base.html" %}

{% block content %}
  <div id="AddPlaylistBox">
    <form action="{% url Playlist:overview %}" method="post">
      {% csrf_token %}
      <label for="playlistname">Playlist name</label>
      <input type="text" name="name" id="playlistname" value="playlistname" />
      <input type="submit" value="Create" />
    </form>
  </div>
  <div id="AvailablePlaylists">
    <h2 id="AvaPlaylistHeading">Available Playlists</h2>
    <ul>
      {% for p in playlists %}
      <li class="trackOverview"><a href="{% url Playlist:playlistdetails p.title%}">- {{ p.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
