{% extends "Playlist/base.html" %}

{% block content %}
  {% for pm in popupmessages %}
    <h3>{{ pm }}</h3>
  {% endfor %}
  <h3>Share playlists with you friends with this simple website!</h3>
<div class="list-group" id="AvailablePlaylists">
  <h2 class="text-center" id="AvaPlaylistHeading">Available Playlists</h2>
    {% for p in playlists %}
    <a class="list-group-item" href="{% url 'Playlist:playlistdetails' p.name %}"><h3>{{ p.name }}</h3></a>
    {% endfor %}
</div>
  {% if user.is_authenticated %}
    <div class="text-center center-block" id="addTitle">
      <form action="{% url 'Playlist:overview' %}" method="post">
        {% csrf_token %}
        <label for="playlistname">Create new playlist</label>
        <input type="text" name="name" size=50 id="playlistname" value="Your Name" />
        <input class="btn btn-default" type="submit" value="Create" />
      </form>
    </div>
  {% endif %}
{% endblock %}
