{% extends "Playlist/base.html" %}

{% block title %}Playlist Details{% endblock %}

{% block imports %}
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}Playlist/jquery.js" %}></script>
<script type="text/javascript" src="{{ STATIC_URL }}Playlist/PlaylistDetails.js" %}></script>
{% endblock %}

{% block content %}
  <div id="header">
    <div id="title">
      <h1 >{{ playlist.title }}</h1>
    </div>
    <div id="overviewlink">
      <a href="{% url Playlist:overview %}">back</a>
    </div>
  </div>
  <div id="addTitle">
    <form action="{% url Playlist:playlistdetails playlist.title %}" method="post">
      {% csrf_token %}
      <label for="new_song">New song title</label>
      <input type="text" name="url" id="songURL" value="" />
      <input type="hidden" name="title" id="songTitle" value="" />
      <input type="hidden" name="plattform" id="plattform" value="" />
      <input type="submit" value="Add" />
    </form>
  </div>

  <div id="allTracks">
    <div id="controll">
      <div id="playAll">
        Play all
      </div>
    </div>
    <ul>
      {% for t in playlist.track_set.all %}
      <li class="track" plattform="{{ t.plattform }}" listitem="{{ forloop.counter0 }}" url="{{ t.url }}">
      <div class="trackText">{{ t.title }}</div>
      <form action="{% url Playlist:playlistdetails playlist.title %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="deltitle" value="{{ t.id }}" />
        <button type="submit" id="DeleteButton" value="Delete" />
          <img src="{{ STATIC_URL }}Playlist/button.png" %}" id="DeleteButtonImage" alt="submit">
        </button>
      </form>
      </li>
      {% endfor %}
    </ul>
  </div>


  <div id=player> 
    <div id="scplayer"></div>
    <iframe id="ytplayer" type="text/html" width="700" height="390"
      style="display:none"
      src=""
      frameborder="0"/></iframe>
  </div>
</div>
{% endblock %}
