{% extends "Playlist/base.html" %}

{% block content %}

{% if registered %}
<strong>Thank you for registering</strong>
<a href='{% url "Playlist:overview" %}'>To startpage</a>
{% else %}
<h3>Register here</h3>

<form id="user_form" method="post" action="{% url 'Playlist:register' %}" enctype="multipart/form-data">
  {% csrf_token %}

  {{ user_form.as_p }}
  {{ profile_form.as_p }}

  <input type="submit" class="btn btn-default" name"submit" value="register" />
</form>
{% endif %}

{% endblock %}
