{% load staticfiles ownWebsiteHelper%}
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Adrian Bartnik{% endblock %}</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static "ownWebsite/style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "ownWebsite/style.css" %}">
  {% block imports %}{% endblock %}
</head>
<body>
  <div id="content">
    <div id="sidebar">
      <ul id="sidebar-content">
        <li><a href="{% url 'ownWebsite:aboutme' %}">About me</a></li>
        <li><a href="{% url 'ownWebsite:projects' %}">Ideas and Projects</a></li>
        <li><a href="{% url 'ownWebsite:travel' %}">Travel</a></li>
        <li><a href="{% url 'ownWebsite:blog' %}">Blog</a></li>
        <li><a href="{% url 'ownWebsite:impressum' %}">Impressum</a></li>
      </ul>
    </div>
    <div id='right'>
      <div id="block">
        <img id="headerimage" 
             src="{% random_image 'ownWebsite/HeaderImages/' %}"
             alt="NuuksioNationalPark">
        <div id="realContent">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
